<!doctype html>
<html>
<head>
    <title>Foosboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>

<body>
<div class="container">
    <div class="page-header">
        <a href="/">
            <h1>
                Foosboard
                <small>I totally meant to do that.&trade;</small>
            </h1>
        </a>
    </div>

    {% with messages = get_flashed_messages() %}
    {% for flash in messages %}
    <div class="alert alert-success" role="alert">{{ flash }}</div>
    {% endfor %}
    {% endwith %}

    {% block body %}{% endblock %}
</div>
</body>
</html>
