{% extends "layout.html" %}

{% block body %}
<form method="POST" action="/games">
    <input type="hidden" name="team1defense" value="{{team1defense}}">
    <input type="hidden" name="team1offense" value="{{team1offense}}">
    <input type="hidden" name="team2defense" value="{{team2defense}}">
    <input type="hidden" name="team2offense" value="{{team2offense}}">

    <div class="form-group">

        <label>
            Team 1 Score
            <select class="form-control" name="team1score">
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </label>
    </div>
    <div class="form-group">

        <label>
            Team 2 Score
            <select class="form-control" name="team2score">
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </label>
    </div>

    <input class="btn btn-default" type="submit" value="Save">
</form>

{% endblock %}
