<h1>foosboard</h1>

<form method="post" action="/games">
    <label>
        Team 1 Player 1
        <select name="team1player1">
            <option>EC</option>
            <option>TG</option>
            <option>NW</option>
            <option>BC</option>
            <option>BB</option>
            <option>EA</option>
        </select>
    </label>
    <label>
        Team 1 Player 2
        <select name="team1player2">
            <option>EC</option>
            <option>TG</option>
            <option>NW</option>
            <option>BC</option>
            <option>BB</option>
            <option>EA</option>
        </select>
    </label>
    <label>
        Team 2 Player 1
        <select name="team2player1">
            <option>EC</option>
            <option>TG</option>
            <option>NW</option>
            <option>BC</option>
            <option>BB</option>
            <option>EA</option>
        </select>
    </label>
    <label>
        Team 2 Player 2
        <select name="team2player2">
            <option>EC</option>
            <option>TG</option>
            <option>NW</option>
            <option>BC</option>
            <option>BB</option>
            <option>EA</option>
        </select>
    </label>

    <div>
        <label>
            Team 1 Score
            <select name="team1score">
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </label>
        <label>
            Team 2 Score
            <select name="team2score">
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </label>
    </div>

    <input type="submit" value="Submit">
</form>
